*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.7;
    /* background: rgb(3, 3, 122); */
    background: rgb(2, 2, 59);
    color: white;
}